/* Universel Code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

/* Header section */
header {
  width: 1140px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1140px;
  margin-top: 30px;
  margin: 30px auto 0 auto;
}

.nav-menu {
  display: flex;
  gap: 48px;
  list-style: none;
}

.link-part {
  display: flex;
  gap: 48px;
}

.cart-part {
  display: flex;
  align-items: center;
  gap: 7px;
}
i.cart-icon.ri-shopping-cart-2-line {
  font-size: 1.5rem;
}
ul li a {
  text-decoration: none;
  color: rgba(137, 135, 161, 1);
}
ul li a.active {
  color: black;
  font-weight: bold;
}
.cart-part a {
  color: black;
}

ul li a.active {
  color: black;
  font-weight: bold;
}

/* Banner */

.container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner {
  margin-top: 120px;
}
.banner-img img {
  display: block;
}
h1.banner-title-1 {
  font-family: "Noto Serif", serif;
  font-size: 4rem;
}
span.text-color {
  color: #e95a08;
  font-family: "Noto Serif", serif;
}
h1.banner-title-2 {
  font-family: "Noto Serif", serif;
  font-size: 4rem;
  color: #e95a08;
}
.banner-description {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 13px;
}
/* Card section */
section.plant {
  margin-top: 120px;
}

span.our {
  color: #e95a08;
  font-family: "Noto Serif";
}
h2.plant-section-title {
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 16px;
  text-align: center;
  font-size: 3rem;
  font-family: "Noto Serif";
}
p.plant-section-des {
  text-align: center;
  max-width: 888px;
  margin: 0 auto;
  padding-bottom: 49px;
  font-family: "Inter";
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}
.card-container {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.card-details button {
  width: 270px;
}
.btn-primery {
  background-color: #e95a08;
  border: none;
  font-family: "Inter";

  color: white;
  text-transform: uppercase;
  font-size: 14px;
  padding: 8px 30px;
  line-height: 150%;
  cursor: pointer;
}
p.flower-name {
  padding-bottom: 5px;
  font-family: "Inter";
  font-size: 1.2rem;
}
span.price {
  font-size: 1.2rem;
  font-weight: 700;

  margin-bottom: 30px;
  font-family: "Inter";
}

/* Plant-lover-Section */

.lover-section {
  display: flex;
  gap: 20px;
  margin-top: 210px;
}

.lover-img {
  position: relative;
}
.lover-section-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 60px;
}
.trusted-badge {
  width: 286px;
  height: 286px;
  position: absolute;
  top: -142px;
  right: -86px;
}
h2.love-title {
  font-family: "Noto Serif";
  font-size: 3.125rem;
}
.list-content {
  margin-top: 20px;
}
.list-des {
  padding: 0 38px;
}
.list-des {
  padding: 0 38px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter";
  font-size: 1.38rem;
}
/* latest deal */
h2.latest-title {
  max-width: 1440px;
  margin: 133px auto auto;
  padding-bottom: 16px;
  text-align: center;
  font-size: 3rem;
  font-family: "Noto Serif";
}
span.latest-color {
  color: #e95a08;
  font-family: "Noto Serif";
}
p.deal-section-des {
  text-align: center;
  max-width: 888px;
  margin: 0 auto;
  padding-bottom: 49px;
  font-family: "Inter";
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}

/*  latest-deal-Section  */

.image-layout {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
}

.image-grid {
  display: flex;
  gap: 28px;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.left-column img {
  width: 367px;
  height: 201px;

  border-radius: 14px;
}
.right-column img {
  border-radius: 22px;
  width: 753px;
  height: 423.13px;
}
.right-column .image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.right-column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/*Latest-deal- overlay and text */
.image-wrapper {
  position: relative;
  width: fit-content;
  width: 100%;
  height: 100%;
}

.image-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-overlay {
  border-radius: 22px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 10px;
}

.overlay-title {
  font-family: "Noto Serif";
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}

.overlay-subtitle {
  font-family: "Inter";
  font-size: 1rem;
  margin-top: 8px;
  text-decoration: underline;
  font-weight: 500;
}
.overlay-title-right {
  font-family: "Noto Serif";
  font-size: 2.5rem;
  font-weight: 700;
}
.overlay-subtitle-right {
  font-family: "Inter";
  font-size: 1.75rem;
  font-weight: 500;
  margin-top: 8px;
  text-decoration: underline;
}

/* subscribe-section */
.subscribe-section {
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 120px;
}

.subscribe-content {
  max-width: 830px;

  width: 100%;
}

.subscribe-content h2 {
  font-family: "Noto Serif";
  font-size: 3.125rem;
  margin-bottom: 23px;
  font-weight: bold;
}

.subscribe-form {
  display: flex;
  overflow: hidden;
}

.subscribe-form input[type="email"] {
  flex: 1;
  padding: 15px;
  border: none;
  font-size: 1rem;
  outline: none;
}

.subscribe-form button {
  background-color: #f26522;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.subscribe-form button:hover {
  background-color: #d24e0b;
}

/* Media Query */
@media only screen and (max-width: 393px) {
  /* Header */
  header {
    width: 100%;
  }

  .navbar {
    justify-content: space-between;
  }
  .link-part {
    display: none;
  }
  .logo img {
    width: 63px;
    height: 38px;
  }
  /* Banner */
  .container {
    flex-direction: column-reverse;
    text-align: left;
    margin-top: -85px;
  }

  .banner-text {
    margin-top: 20px;
    padding: 0 16px;
  }

  .banner-img img {
    width: 100%;
    height: auto;
  }

  h1.banner-title-1,
  h1.banner-title-2 {
    font-size: 1.5rem;
  }
  .banner-description {
    font-size: 0.875rem;
  }
  /* Card-section */
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 14px;
  }
  .card img {
    width: 100%;
    height: auto;
  }
  .card-details button {
    width: 100%;
  }
  /* Plant-section */
  h2.plant-section-title {
    font-size: 1.5rem;
  }
  p.plant-section-des {
    text-align: center;
    max-width: 336px;
    margin: 0 auto;
    padding-bottom: 28px;
    font-family: "Inter";
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.5);
  }
  p.flower-name,
  span.price {
    font-size: 1rem;
  }

  /* love-section */
  .lover-section {
    margin-top: 41.5px;
  }
  .lover-section-container {
    flex-direction: column;
  }
  .lover-img img {
    width: 361px;
    margin: 0 auto;
  }
  .trusted-badge {
    display: none;
  }
  .lover-content {
    padding: 0 20px;
    gap: 20px;
  }
  h2.love-title {
    font-family: "Noto Serif";
    font-size: 1.5rem;
  }
  .list-des {
    font-size: 0.9rem;
  }
  /* latest Deal */
  .image-grid {
    flex-direction: column;
    gap: 20px;
  }

  .left-column {
    flex-direction: column;
    gap: 20px;
  }

  .left-column img,
  .right-column img {
    width: 100%;
    height: auto;
  }
  h2.latest-title {
    font-size: 1.5rem;
  }
  p.deal-section-des {
    width: 336px;
    font-size: 0.9rem;
    padding-bottom: 28px;
  }
  /* latest-deal-overlay */
  .overlay-title {
    font-size: 18px;
  }
  .overlay-subtitle {
    font-size: 14px;
  }
  #overlay-radious {
    border-radius: 0;
  }
  .overlay-title,
  .overlay-title-right {
    font-size: 1.25rem;
  }
  .overlay-subtitle,
  .overlay-subtitle-right {
    font-size: 1rem;
  }
  /* subscribe-form-section */

  .subscribe-form input,
  .subscribe-form button {
    width: 50%;
    border-radius: 0;
  }

  .subscribe-form button {
    /* margin-top: 10px; */
    width: 103px;
  }
  .subscribe-section {
    margin-top: 40px;
  }
  .subscribe-content h2 {
    font-size: 1.25rem;
  }
  .subscribe-form button {
    padding: 12px 12px;
    font-size: 1rem;
  }
}
